@model IEnumerable<MyPortfolio.Models.Project>

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
  $(document).ready(function() {
    $('.hello-ajax').click(function () {
      $.ajax({
        type: 'GET',
        url: '@Url.Action("Index")',
        success: function (result) {
            $('.pageTwo').html(result);
        }
      });
    });
  });
</script>

<div class="pageOne">
    <div>
        <ul class="nav nav-pills">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">My Portfolio</a></li>

            <li class="pull-right">
            <li class="pull-right"><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
            <li class="pull-right"><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
            <li class="pull-right"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li class="pull-right"><a asp-area="" asp-controller="BlogPost" asp-action="Index">My Blog</a></li>
            <li class="pull-right hello-ajax"><a asp-area="" asp-controller="Home" asp-action="About">About Me</a></li>
            <li class="pull-right"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li class="pull-right"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
           
        </ul>
    </div>
    <div class="block text-center">
        <h1>Sravanthi Velaga</h1>
        <h3>Always Learning. Always Evolving</h3>
    </div>

    <div class="btnlist text-center">
        <a class="btn btn-default" href="https://twitter.com/Sravysvelaga" target="_blank">Twitter</a>
        <a class="btn btn-default" href="https://github.com/Sravyy" target="_blank">Github</a>
        <a class="btn btn-default" href="https://www.linkedin.com/in/sravanthivelaga" target="_blank">Linkedin</a>

    </div>
</div>

<div class="pageTwo">
    <div class="row">
        <div class=" text-center">
            <h1>My Expertise</h1>
            <p>I've got chops in all phases of the design process.</p>
            <div class="row abt">
                <div class="col-md-4">
                    <i class="fa fa-diamond"></i>
                    <h2>Ideas</h2>
                    <p>
                        Ability to collaborate with Developers and peers to nurture and transform ideas into well thought out design specs. After all, that's where the majority of amazing user experiences start.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-magic"></i>
                    <h2>design</h2>
                    <p>
                        I wireframe interfaces focusing on content structure, intuitive UI patterns and simple interactions. I'm a minimalist who truly believes that less is more.
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-code"></i>
                    <h2>Code</h2>
                    <p>I design in the browser with HTML, CSS and a touch of JavaScript along with applications developed on .Net framework using C#. I love coding things from scratch and developed fully functional applications from start to finish</p>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="pageThree">
    <div class=" text-center">
        <h1>My Projects</h1>
        <div class="row">
            @foreach (var project in Model)
            {
                <div class="col-md-4">
                    <i class="fa fa-star"></i>
                    <p>Project: @Html.DisplayFor(modelItem => project.name)</p>
                    <p>Link:
                    <a href="@Html.DisplayFor(modelItem => project.html_url)">@Html.DisplayFor(modelItem => project.html_url)</a></p>
                    <p>Language: @Html.DisplayFor(modelItem => project.language)</p>
                </div>
            }
        </div>
    </div>
</div>
           

          
   
